{% extends "_layouts/main" %}
{% block main %}
       
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <!-- Home Slider -->
            <section id="start">
                <!-- slide item -->
                <div style="height: 30em; background: linear-gradient(rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.10)),
        rgba(0,0,0,0.55) url(/images/banners/high-end-products.jpg); background-position: center; background-size: cover; background-repeat:no-repeat;">
                    <div class="slide-content-2 container">
                    </div>
                </div>
                <!-- // slide item -->
            </section>
            <!-- // Home Slider -->

            <!-- PROJECT-DETAILS
            ================================================== -->
            <section class="portfolio-detail">
              <div class="container">
            
                {% set variant = product.defaultVariant %}
                
                <div class="row">
                 
                <div class="col-md-12">
                    <div class="project-title">
                      <h1>{{ product.title }}</h1>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="project-large-thumb img-responsive">
                        <img src="{{ product.productImage.one().getUrl('FourteenFortyTenEightyThumb') }}" alt="{{ product.title }}">
                    </div>
                </div>
                <div class="col-sm-10 col-md-5">
                    <div class="project-details">
                        <h3>About the Product</h3>
                        <p>{{ product.description }}</p>

                        <div class="row product-details">

                            <div class="col-xs-4 col-md-4">
                                <h4>Type</h4>
                                <h5><a href="/trade-ins">Trade Ins</a></h5>
                            </div>
                            
                            <div class="col-xs-4 col-md-4">
                                <h4>Brand</h4>

                                {% set category = product.productBrand.one() %}
                                <h5><a href="{{ category.url }}">{{ category.title }}</a></h5>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <h4>Product</h4>

                                {% set category = product.productType.one() %}
                                <h5><a href="{{ category.url }}">{{ category.title }}</a></h5>
                            </div>
                        </div>
                        <div class="row product-details">
                            
                            <!-- SALE PRICE -->
                            {% if product.suggestedRetailPrice %}
                            <div class="col-xs-4">
                                <h4>Suggested Retail Price</h4>
                                <h4>{{ product.suggestedRetailPrice | currency('USD') }}</h4>
                            </div>
                            {% endif %}

                            <div class="col-xs-4">
                                <h4>Sale Price</h4>
                                <h4>{{ variant.price | currency('USD') }}</h4>
                            </div>
                            {# Add to cart button #}
                            <form method="POST">
                                <input type="hidden" name="action" value="commerce/cart/update-cart">
                                <input type="hidden" name"cartUpdatedNotice" value="Added {{ product.title }} to the cart.">
                                {{ redirectInput('store/cart') }}
                                {{ csrfInput() }}
                                <input type="hidden" name="qty" value="1">
                                <input type="hidden" name="purchasableId" value="{{ variant.id }}">
                                <input class="btn btn-main shutter-both" type="submit" value="Add to cart">
                            </form>
                        </div>
                    </div>
                </div>

                </div>

                <div class="row">
                  <ul class="pager">
                    <li class="previous"></li>
                    <li class="next"></li>
                  </ul>
                </div>
                <!-- End Project -->

                <!-- Related Project
                ================================================== -->

                <div class="related-products">
                <h3>Other Trade Ins</h3>
                </div>

                <div class="container-fluid wow fadeIn">
                    <div class="row project-wrapper">

                        {% set products = craft.products.type('tradeIns').limit(4).all() %}
                        {% for product in products %}

                        <div class="col-xs-12 col-sm-6 col-md-3 analogue">
                            <div class="img-overlay">
                                <img src="{{ product.productImage.one().getUrl('FourteenFortyTenEightyThumb') }}" alt="{{ product.title }}">
                                <a class="hover-plus" href="{{ product.url }}">
                                    <h4>{{ product.title }}</h4>
                                </a>
                            </div>
                        </div>

                        {% endfor %}
                    </div> <!-- end row -->
                </div> <!-- end container -->

              </div> <!-- end large container -->
            </section>
            <!-- end Project-detail -->
        </main>
        <!-- // #main -->
    </div>
    <!-- // #primary -->
</div>
<!-- // #content -->
{% endblock %}
