{% extends "_layouts/main" %}
{% block main %}

{% for home in craft.entries.section('home').all() %}
<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <!-- Home Slider -->
      <section id="start">
        <!-- slide item -->
        <div class="banner-home" style="background-image:url({{ home.bannerImage.one().getUrl() }})">
            <div class="slide-content container">
                <div class="inner-content home-header text-">
                    <h1>Welcome to Distinctive Audio</h1>
                    <h3 class="established">– Established in 1986</h3>
                    <h4>We help you achieve a superior music listening experience by providing a range of high quality audio <br class="hidden-xs"> components and accessories. Our products allow listeners to engage with their music at a refined level.</h4>
                    <div class="btn-set">
                        <span class="btn1">
                            <a href="/da-inventory-sale" class="btn btn-shadow btn-main shutter-both">Products on Sale</a>
                        </span>
                        <span class="btn2">
                            <a href="/contact" class="btn btn-shadow btn-dark shutter-both">Contact Us</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- // slide item -->
      </section>
      <!-- // Home Slider -->

      <!--
      Start About Section
      ==================================== -->
      <section id="about" class="section">
        <div class="container">
          <div class="row">
            <!-- section title -->
            <div class="col-xs-12 col-sm-8 margin-bottom">
              <h3 class="margin-bottom"><a href="/da-inventory-sale">Inventory Items Currently on Sale</a></h3>
              <p>{{ entry.announcements }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 wow fadeInLeft">
              <div class="about-block">
                <div class="icon-block">
                  <i class="ion-ios-paperplane-outline"></i>
                </div>
                <h4>New Arrivals</h4>
                <p>{{ entry.newArrivals }}</p>
                <a href="/new-arrivals" class="btn btn-border-white shutter-both">New Arrivals</a>
              </div>
            </div>

            <!-- {# 
            <div class="col-xs-12 col-sm-6 wow fadeInLeft" data-wow-delay="0.3s">
              <div class="about-block">
                <div class="icon-block">
                  <i class="ion-ios-settings"></i>
                </div>
                <h4>Trade Ins</h4>
                <p>{{ entry.tradeIns }}</p>
                <a href="/trade-ins" class="btn btn-border-white shutter-both">Trade Ins</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 wow fadeInLeft" data-wow-delay="0.3s">
              <div class="about-block">
                <div class="icon-block">
                  <i class="ion-ios-star-outline"></i>
                </div>
                <h4>Specials</h4>
                <p>{{ entry.specials }}</p>
                <a href="/specials" class="btn btn-border-white shutter-both">Specials</a>
              </div>
            </div> #} -->

            <div class="col-xs-12 col-sm-6 wow fadeInLeft" data-wow-delay="0.3s">
              <div class="about-block">
                <div class="icon-block">
                  <i class="ion-ios-clock-outline"></i>
                </div>
                <h4>Location and Hours</h4>
                <p>{{ entry.locationAndHours }}</p>
                <a href="/contact" class="btn btn-border-white shutter-both">Store Hours</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--
      end About Section
      ==================================== -->

      <!--
      Start Service Section
      ==================================== -->
      <section id="service" class="section bg-one">
          <div class="container">
              <div class="row">
                  <!-- section title -->
                  <div class="col-sm-12 col-md-12">
                      <div class="sec-head text-left wow fadeIn">
                          <h2>Our Services</h2>
                          <div class="row">
                          <p class="col-md-7">{{ entry.ourServices }}</p>
                          </div>
                      </div>
                  </div>
                  <!-- /section title -->

                  <!-- Service item -->
                  <div class="col-sm-6 col-md-4 wow fadeInUp">
                      <div class="service-item">                            
                          <div class="icon-box text-center">
                              <i class="ion-ios-musical-notes"></i>
                          </div>                  
                          <!-- Express Service Yourself -->
                          <div class="service-text">
                              <h4 class="text-center">Listening Demos</h4>                   
                              <p>{{ entry.listeningDemos }}</p>
                          </div>
                      </div>
                  </div> 
                  <!-- End Service item -->

                  <!-- Service item -->
                  <!-- {#
                  <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.3s">
                      <div class="service-item">
                          <div class="icon-box text-center">
                              <i class="ion-ios-gear-outline"></i>
                          </div> -->
                          <!-- Express Service Yourself -->
                          <!-- <div class="service-text">
                              <h4 class="text-center">Equipment Repair</h4>
                              <p>{{ entry.equipmentRepair }}</p>
                          </div>
                      </div>
                  </div> #} -->
                  <!-- End Service item -->

                  <!-- Service item -->
                  <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                      <div class="service-item">
                          <div class="icon-box text-center">
                              <i class="ion-ios-ionic-outline"></i>
                          </div>
                          <!-- Express Service Yourself -->
                          <div class="service-text">
                              <h4 class="text-center">Custom Cables</h4>
                              <p>{{ entry.customCables }}</p>
                          </div>
                      </div>
                  </div> 
                  <!-- End Service item -->

                  <!-- Service item -->
                  <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.9s">
                      <div class="service-item">
                          <div class="icon-box text-center">
                              <i class="ion-ios-barcode-outline"></i>
                          </div>
                          <!-- Express Service Yourself -->
                          <div class="service-text">
                              <h4 class="text-center">Tube Testing</h4>
                              <p>{{ entry.tubeTesting }}</p>
                          </div>
                      </div>
                  </div> 
                  <!-- End Service item -->

              </div>      <!-- End row -->
          </div>      <!-- End container -->
      </section>
      <!--
      end Service Section
      ==================================== -->

      <!--
      Start Team Section
      ==================================== -->
      <section id="team" class="section">
          <div class="container">
              <div class="row">
                  <!-- section title -->
                  <div class="col-sm-12 col-md-12">
                      <div class="sec-head text-left wow fadeIn" >
                          <h2>The Owner &amp; President of Distinctive Audio Inc.</h2>
                          <div class="row">
                          <p class="col-md-7">{{ entry.staffMembers }}</p>
                          </div>
                      </div>
                  </div>
                  <!-- /section title -->

                  <!-- team member -->
                  <div class="col-sm-6 col-md-3 wow fadeInUp">
                    {% for block in entry.staffMemberImage.all() %}
                    {% if block.type == 'staffMemberImage' %}
                      <div class="team-mate">
                          <figure class="member-photo">
                              <!-- member photo -->
                              <img class="img-responsive" src="{{ block.staffMemberImage.one().getUrl() }}" alt="{{ block.staffMemberName }}">
                              <!-- /member photo -->
                          </figure>

                          <!-- member name -->
                          <div class="member-title">
                              <h4>{{ block.staffMemberName }}</h4>
                              <span>{{ block.staffMemberOccupation }}</span>
                          </div>
                          <!-- /member name -->
                     </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <!-- // team member -->
              </div>
          </div>
      </section>
      <!--
      end Team Section
      ==================================== -->

      <!--
      call to action
      ==================================== -->
      <section class="section call-to-action">
          <div class="container">
              <div class="cta">
                  <h2>Interested in Learning More About Distinctive Audio?</h2>
                  <div class="btn-set">
                      <a href="/contact" class="btn btn-contact">Get in Touch</a>
                  </div>
              </div>
          </div>
      </section>
      <!--
      end call to action
      ==================================== -->

    </main>
    <!-- // #main -->
  </div>
  <!-- // #primary -->
</div>
{% endfor %}
<!-- // #content -->
{% endblock %}