{% extends "_layouts/main" %}
{% block main %}
       
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <!-- Home Slider -->
            <section id="start">
                <!-- slide item -->
                {% for entry in craft.entries.section('newArrivalsHome').all() %}
                <div class="banner" style="background-image:url({{ entry.bannerImage.one().getUrl() }})">
                    <div class="slide-content-2 container">
                    </div>
                </div>
                {% endfor %}
                <!-- // slide item -->
            </section>
            <!-- // Home Slider -->

            <!--
            Start Portsolio Section
            ==================================== -->
            <section id="portfolio" class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="sec-head text-left wow fadeInDown">

                                            <div class="page-header">
                                                <h1>{{ category.title }}</h1>
                                            </div>

                                            {% if category.description %}
                                              <p>{{ category.description }}</p>
                                            {% endif %}

                                        </div>

                                        <div class="row products">

                                        {% paginate craft.entries.relatedTo(category).limit(12) as products %}
                                        {% for product in products %}

                                        <div class="col-xs-12 col-sm-6 col-md-4 product portfolio-content">
                                            {% if product.newArrivalsImage | length %}
                                            <div class="img-overlay">
                                                <img src="{{ product.newArrivalsImage.one().getUrl('FourteenFortyTenEightyThumb') }}" alt="{{ product.title }}">
                                                <a class="hover-plus" href="{{ product.url }}">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            {% endif %}
                                            <a href="{{ product.url }}">
                                                <h4 class="product-title">{{ product.title }}</h4>
                                                {# <p>{{ product.defaultPrice | currency('USD') }}</p> #}
                                            </a>
                                        </div>

                                        {% endfor %}

                                        </div>

                                        <nav class="post-pagination margin-top wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">

                                            <ul class="pagination">
                                              {% if paginate.prevUrl %}
                                                <li><a href="{{ paginate.prevUrl }}">Previous</a></li>
                                              {% endif %}
                                                  
                                              {% for page, url in paginate.getPrevUrls(3) %}
                                                  <li><a href="{{ url }}">{{ page }}</a></li>
                                              {% endfor %}

                                              <li class="active current-page">{{ paginate.currentPage }}</li>

                                              {% for page, url in paginate.getNextUrls(3) %}
                                                  <li><a href="{{ url }}">{{ page }}</a></li>
                                              {% endfor %}

                                              {% if paginate.nextUrl %}
                                                <li><a href="{{ paginate.nextUrl }}">Next</a></li>
                                              {% endif %}
                                            </ul>

                                        </nav>
                                        
                                    </div>
                                </div>
                            </div>

                            {% include '_includes/sidebar' %}
                    </div>
                </div>
            </section>
            <!--
            end Portfolio Section
            ==================================== -->


            <!--
            call to action
            ==================================== -->
            <section class="section call-to-action">
                <div class="container">
                    <div class="cta">
                        <h2>Need to Make a Special Order?</h2>
                        <div class="btn-set">
                            <a href="/contact" class="btn btn-contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--
            end call to action
            ==================================== -->

        </main>
        <!-- // #main -->
    </div>
    <!-- // #primary -->
</div>
<!-- // #content -->


{% endblock %}